#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid green;
    border-radius: 15px;
}

.header {
    text-align: center;
}

.div1 {
    width: 200px;
    padding: 10px;
    background-color: beige;
    border: 1px solid black;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 15px;
    font-family:sans-serif;
    border-radius: 20px;
    
}

.text {
    padding: 10px;
    margin-top: 20px;

}

.saddle {
    width: 180px;
    height: 150px;
    margin-left: 10px;
}

.header2 {
    margin-left: 10px;
}

.div2 {
    width: 300px;
    text-align: center;
    border: solid 1px black;
    background-color: beige;
    padding: 10px; 
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 20px;
    
    
}

.container {
    height: 500px;
    width: 100%;
    position: relative;
}

.allphoto {
    width: 50px;
    height: 50px;
    border-radius: 300px;
    padding-right: 5px;
    border: 2px solid grey;
}



.photo {
    display: flex;
    align-items: center;
}

.map {
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20px;
    
}

.table , th , tr , td {
    border: 1px solid black;
    width: 20%;
    text-align: center;
    border-collapse: collapse;
    background-color: #96D4D4;
    font-family: sans-serif;
    
    
}

.seasonal {
    margin-top: 10px;
}
