#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 10px solid green;
    border-radius: 15px;
}

.hd {
    text-align: center;
}

.div1 {
    width: 200px;
    padding: 10px;
    background-color: beige;
    border: 1px solid black;
    font-size: 14px;
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    position: absolute;
    top: 10px;
    left: 15px;
    
}

.pa {
    padding: 10px;
    margin-top: 20px;

}

.pic2 {
    width: 180px;
    height: 150px;
   
    margin-left: 10px;
}

.h2 {
    margin-left: 10px;
}

.div2 {
     /* height: 450px;  */
    width: 300px;
    text-align: center;
    border: solid 1px black;
    background-color: beige;
    padding: 10px; 
    position: absolute;
    right: 10px;
    top: 15px;
    
    
}

.container {
    height: 500px;
    width: 100%;
    position: relative;
}

.yousefPhoto {
    width: 50px;
    height: 50px;
    border-radius: 300px;
}

.habibphoto {
    width: 50px;
    height: 50px;
    border-radius: 300px;

}