.body {
    background: radial-gradient(circle, #fdfdfd 0%, #d6e9c6 50%, #4caf50 100%);
}


#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid green;
    border-radius: 15px;

}



.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.rContent {
    width: 200px;
    padding: 10px;
    background-color: beige;
    border: 1px solid black;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 15px;
    font-family: sans-serif;
    border-radius: 20px;

}

.text {
    padding: 10px;
    margin-top: 20px;

}

.saddle {
    width: 180px;
    height: 150px;
    margin-left: 10px;
}

.header2 {
    margin-left: 10px;
    font-family: sans-serif;
}

.lContent {
    width: 300px;
    text-align: center;
    border: solid 1px black;
    background-color: beige;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 20px;
    font-family: sans-serif;


}

.container {
    height: 500px;
    width: 100%;
    position: relative;
}

.allPhoto {
    width: 50px;
    height: 50px;
    border-radius: 300px;
    padding-right: 5px;

}



.liTopTen {
    display: flex;
    align-items: center;
}

.map {
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-left: 50px;

}

.table,
th,
tr,
td {
    border: 1px solid black;
    width: 26%;
    text-align: center;
    border-collapse: collapse;
    background-color: #96D4D4;
    font-family: sans-serif;
    margin-left: 20px;
}

.seasonal {
    margin-top: 10px;
    margin-left: 20px;
    font-family: sans-serif;
}

.location {
    margin-left: 10px;
    font-family: sans-serif;
    margin-top: 50px;
}

.audio {

    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

audio::-webkit-media-controls-panel {
    background-color: #289eff;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 80px;
    margin-top: 90px;

}


.galleryimg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 77px;
    margin-top: 20px;

}





.video {
    width: 600px;
    height: 300px;
    /* margin-left: 400px; */
    padding-right: 20px;
    /* border: 10px black solid; */
    border-radius: 20px;




}


.galleryheader {
    margin-left: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






.audio {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin-top: 15px;
    margin-left: 40px;


}