.begin {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url();

}

#nazi {
    width: 500px;
    height: 500px;
    border: 20px;
    border-radius: 40px;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}
