.body {

    background: radial-gradient(circle, #fdfdfd, #b5d3eb, #17a2ff);
    padding: 10px;

}

.paragraph {
    border: 20px;
    background-color: #FAB95B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header1 {
    background-color: #FAB95B;
    width: 700px;
    text-align: center;
    margin-left: 270px;
}

.container {
    width: 1000px;
    height: 400px;
    text-align: center;
    border: solid 5px black;
    background-color: #FAB95B;
    padding: 10px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 90px;
}


.sanati {
    width: 600px;

}



.articles {
    border: 5px black;
    text-align: center;
    width: 400px;
    background-color: #FAB95B;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    margin-top: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.books {
    margin-top: 550px;
    width: 200px;
    background-color: #F6E7BC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 20px;
}

.images {
    width: 50px;
    height: 50px;
    border-radius: 300px;
    padding-right: 5px;
    padding-left: 20px;
    margin-top: 20px;
    text-align: center;

}


.paragraf {
    width: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 10px black;
    background-color: #FAB95B;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}



.header2 {
    margin-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.form {
    margin-top: 70px;
}



.label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.hover {
    margin-left: 750px;
    width: 400px;

}



.button {
    background-color: #FAB95B;
}