.body {

    background: radial-gradient(circle, #fdfdfd, #b5d3eb, #17a2ff);
    padding: 10px;

}

.paragraph {

    border: 20px rgb(61, 200, 238);
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header1 {
    background-color: rgb(105, 129, 225);
    width: 300px;
}

.container {
    width: 300px;
    text-align: center;
    border: solid 5px black;
    background-color: rgb(11, 89, 152);
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 20px;
    margin-top: 90px;
}

.articles {
    border: 5px black;
    text-align: center;
    width: 300px;
    background-color: #0c73b8;
    position: absolute;
    border-radius: 20px;
}

.books {
    margin-top: 450px;
    width: 300px;
    background-color: #F6E7BC;
    display: flex;
    align-items: center;
    border-radius: 20px;


}

.images {
    border-radius: 300px;
    /* margin-left: 40px; */
    width: 80px;
}


.paragraf {
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 10px black;
    background-color: #17a2ff;
    border-radius: 20px;
    margin-left: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}